[data]
editor = "nano"
font = "IntelliJMonoNerdFont"          # folder in fonts/
packages_mac = [
    "eza",
    "fastfetch",
    "htop",
    "lazygit",
    "starship",
    "wget"
]
packages_ubuntu = [
    "eza",
    "fastfetch",
    "htop",
    "lazygit",
    "starship",
    "wget"
]
packages_fedora = [
    "eza","
    fastfetch",
    "htop",
    "lazygit",
    "starship",
    "wget"
]
packages_windows = [
    "Starship.Starship",
    "Git.Git",
    "Microsoft.WindowsTerminal",
    "Nano.Nano"
]
